<%= form_with model: @quote, local: true do |form| %>

  <% if @quote.errors.any? %>
    <div id="error_explanation">
      <ul>
        <% @quote.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </ul>
    </div>
  <% end %>
<br>
<div class="titles">
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title, class: 'form-control'%>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text, class: 'form-control' %>
  </p>
</div>
<p>
    <%= form.submit "Create Quote", :class=>"btn btn-secondary" %>
</p>

<% end %>
