
<p>
  <strong>Title:</strong>
  <%= @quote.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @quote.text %>
</p>

<h2>Comments</h2>
<%= render @quote.comments %>

<h2>Add a comment:</h2>
<%= form_with(model: [ @quote, @quote.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :commenter %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_quote_path(@quote) %> |
<%= link_to 'Back', quotes_path %>
